<!DOCTYPE html>
<html>   
  <head>
    <title>React Tutorial in Reactive Coffee</title>
    <link rel="stylesheet" type="text/css" href="base.css">   
  </head>   
  <body>     
    <div id="container"></div>     
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>     
    <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>     
    <script type="text/javascript" src="bower_components/reactive-coffee/dist/reactive-coffee.min.js"></script>     
    <script type="text/javascript" src="bower_components/showdown/src/showdown.js"></script>     
    <script type="text/javascript" src="main.js" charset="utf-8"></script>   
  </body>
</html>
